@import url("./reset.css");

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

pre.shiki {
  padding: 1rem;
  border: 1px solid #eee;
}

pre.shiki .line {
  min-height: 1em;
  line-height: 1.5;
}

pre.shiki.github-light .line.highlight {
  background-color: color-mix(in srgb, rgb(5, 118, 149) 15%, #fff);
  display: block;
}

pre.shiki.github-dark .line.highlight {
  background-color: #2b4a70;
  display: block;
}

pre.shiki .line.dim {
  opacity: 0.3;
}

.shaku-callout {
  background-color: #0685ce;
  color: #fff;
  padding: 0.5em 1ch;
  position: relative;
  margin: 0.5em 0;
  display: inline-block;
  border-radius: 3px;
}

.shaku-callout p {
  margin: 0;
}

.shaku-callout a {
  color: #fff;
}

.shaku-callout-arrow {
  width: 1ch;
  height: 1ch;
  display: inline-block;
  background-color: #048ad8;
  position: absolute;
  top: -0.5ch;
  transform: rotate(45deg);
}

.shaku-underline {
  padding: 0 1ch;
  position: relative;
  display: block;
  border-radius: 3px;
  color: red;
  margin: 0;
  width: min-content;
}

.shaku-underline p {
  margin: 0;
}

.shaku-underline a {
  color: red;
}
.shaku-underline-line {
  line-height: 0;
  top: 0.5em;
  position: absolute;
  text-decoration-line: overline;
  text-decoration-color: red;
  color: transparent;
  pointer-events: none;
  user-select: none;
  text-decoration-thickness: 2px;
}

.shaku-underline-wavy > .shaku-underline-line {
  text-decoration-style: wavy;
  top: 0.7em;
}

.shaku-underline-solid > .shaku-underline-line {
  text-decoration-style: solid;
}

.shaku-underline-dotted > .shaku-underline-line {
  text-decoration-style: dotted;
}
