@import url("./reset.css");

:root {
  --color-text-main: #333;
  --color-text-sub: #65758b;
  /* third color */
  --color-text-3rd: #eeeeee;

  /* link color */
  --color-link-main: #2973af;
  /* link color sub */
  --color-link-sub: #008eff;
  --color-bg-main: #fff;
  background-color: #fff;
  --color-bg-sub: #aaa;
  --color-bg-3rd: #555;
  --color-bg-deemphasized: #eee;

  --color-line-main: #777;
  --color-line-sub: #aaa;
  --color-link-coffee: #fedd00;
  --color-line-3rd: #eee;
}

a {
  color: var(--color-link-main);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

pre.shiki {
  padding: 1rem;
  border: 1px solid #eee;
}

pre.shiki .line {
  min-height: 1em;
  line-height: 1.5;
}

pre.shiki.github-light .line.highlight {
  background-color: var(
    --color-shaku-highlight-light,
    color-mix(in srgb, rgb(5, 118, 149) 15%, #fff)
  );
  display: block;
}

pre.shiki.github-dark .line.highlight {
  background-color: var(--color-shaku-highlight-dark, #2b4a70);
  display: block;
}

pre.shiki .line.dim {
  opacity: 0.3;
}

.shaku-callout {
  background-color: var(--color-shaku-callout-light, #0685ce);
  color: #fff;
  padding: 0.5em 1ch;
  position: relative;
  margin: 0.5em 0;
  display: inline-block;
  border-radius: 3px;
}

pre.shiki.github-dark .shaku-callout {
  background-color: var(--color-shaku-callout-dark, #0685ce);
}

.shaku-callout p {
  margin: 0;
}

.shaku-callout a {
  color: #fff;
}

.shaku-callout-arrow {
  width: 1ch;
  height: 1ch;
  display: inline-block;
  background-color: var(--color-shaku-callout-light, #0685ce);
  position: absolute;
  top: -0.5ch;
  transform: rotate(45deg);
}
pre.shiki.github-dark .shaku-callout-arrow {
  background-color: var(--color-shaku-callout-dark, #0685ce);
}

.shaku-underline {
  padding: 0 1ch;
  position: relative;
  display: block;
  border-radius: 3px;
  color: var(--color-shaku-underline-light, red);
  margin: 0;
  width: min-content;
}
pre.shiki.github-dark .shaku-underline {
  color: var(--color-shaku-underline-dark, red);
}

.shaku-underline p {
  margin: 0;
}

.shaku-underline a {
  color: var(--color-shaku-underline-light, red);
}
pre.shiki.github-dark .shaku-underline a {
  color: var(--color-shaku-underline-dark, red);
}

.shaku-underline-line {
  line-height: 0;
  top: 0.5em;
  position: absolute;
  text-decoration-line: overline;
  text-decoration-color: var(--color-shaku-underline-light, red);
  color: transparent;
  pointer-events: none;
  user-select: none;
  text-decoration-thickness: 2px;
}

pre.shiki.github-dark .shaku-underline-line {
  text-decoration-color: var(--color-shaku-underline-dark, red);
}

.shaku-underline-wavy > .shaku-underline-line {
  text-decoration-style: wavy;
  top: 0.7em;
}

.shaku-underline-solid > .shaku-underline-line {
  text-decoration-style: solid;
}

.shaku-underline-dotted > .shaku-underline-line {
  text-decoration-style: dotted;
}
