.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.playground {
  display: flex;
  flex-grow: 1;
  column-gap: 1rem;
}

.editor {
  width: 0;
  flex-grow: 1;
}

.preview {
  width: 0;
  flex-grow: 1;
  font-family: sans-serif;
  height: 100%;
  overflow-y: auto;
}
.head {
  font-family: sans-serif;
}

.toolbar {
  display: flex;
  padding: 1rem 0;
}

.share {
  border: 0;
  background-color: transparent;
  display: inline-flex;
  gap: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #eee;
}

.share:hover {
  border-color: #555;
}
