.toc {
  font-weight: 500;
}
.toc ul {
  padding: 0;
}

.toc a {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.2;
}

.toc a:hover {
  text-decoration: underline;
}

.toc li {
  list-style: none;
  padding: 0 16px;
  line-height: 1.4;
}

.toc li ul a {
  font-size: 12px;
}

.toc li ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.toc :global(li.active) > :global(a) {
  color: var(--color-text-main);
}

@media screen and (min-width: 1000px) {
  .toc li ul {
    display: block;
  }
  .inner {
    max-height: calc(100vh - 40px);
    overflow-y: auto;
  }
  .toc {
    position: sticky;
    top: 20px;
    width: 280px;
    margin: 0 -300px 0 auto;
    height: 0;
    font-size: 14px;
  }
  .toc li {
    margin: 4px 0;
    line-height: 1.5;
  }

  .toc li ul {
    padding-left: 14px;
  }
}
